# Environment Configuration (development, testing, production)
CI_ENV=development
BASE_URL=http://localhost/eym/

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=db_eym
DB_PORT=3306
