.DS_Store

# Environment files
.env
.env.local
.env.*.local
!.env.example

# CI Application Cache & Logs
application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

# Dependencies & Lockfiles
/vendor/
composer.lock

# Test & DB files
tests/mocks/database/ci_test.sqlite
/tests/tests/
/tests/results/

# User Guide build
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/nbproject/

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
